.row {
    margin-left: 150px;
    margin-right: 150px;
}
.row img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.row p{
    text-align: center;
    line-height: normal;
    padding: 12px;
}
#section-ourTeam {
    margin-right: 150px;
    margin-left: 50px;
}
.ourTeam-hedding{
    height:200px;
    width:100%;
    background-size:100% 100%;
    background-repeat:no-repeat;
}
.ourTeam-hedding h1{
    color: #296EBE;
    font-family: Nunito Sans;
    padding:70px 0px;
    font-weight:900;
    z-index: 1;
}
.section1{
    padding: 30px 0px 0px 0px;
}
.section1 img{

    padding:5px;
    border-radius:50%;
    height:170px;
    width: 170px;
}
.section2 h1{
    font-size:10px;
    color:#C1C1C1;
    margin:0px;
    border-bottom:2px solid #08ADE6;
    font-weight: 800;
    display: inline-block;
    padding: 10px 0px;
}
.section2 p{
    background-color:#fff ;
    display: inline-block;
    font-weight: bold;
    color:#0075C2;
    border-radius: 3px;
    margin-top: 10px; 
    margin-bottom: 0px;   
}
.section2 span{
    color:#979597;
}
.section2 label{
    background-color: #08ADE6;
    padding: 8px 10px 8px 10px;
    color:#fff;
    font-weight: normal;
    margin: 30px 0px 35px 0px;
    border-radius: 2px;
}

.section4{
    padding:10px 0px 50px 0px;
}
.section4 i{
    color:#fff;
    padding:3px;
    border-radius: 2px; 
    font-size: 12px;
    background-color: #08ADE6;
    cursor: pointer;
}

.section1 img{
    padding:5px;
}
.section2 p{
    background-color: #fff;
    color:#0075C2;
    padding-bottom: 0;
}
.section3 p {
    padding-bottom: 0;
    height: 24px;
}
.section4 .fa{
    background-color:#08ADE6; 
    text-align: center;
    width: 22px;
    height: 22px;
    padding-top: 5px;
}
.section2 h1{
    border-bottom:2px solid #08ADE6;
}

.section2 {
    text-align: center;
}
.section4 {
    text-align: left;
}

.section4 .fa {
    text-align: center;
}
